.Form {
  width: 650px;
  margin: auto;
}
h2 {
  font: 32px Roboto, sans-serif;
  font-weight: 600;
  margin: 20px 0 0;
}
p {
  font: 16px Roboto, sans-serif;
  margin:  10px 0 25px;
}
form {
  margin: auto;
  width: 650px;
}
form > .field:nth-child(1) {
  border-right: 1px solid #ccc;
}
input[type="button"] {
  font: 14px Roboto, sans-serif;
  font-weight: 600;
  padding: 0 45px;
  line-height: 45px;
  border: none;
  background-color: #32a8a6;
  color: white;
  cursor: pointer;
}
input[type="radio"] {
  accent-color: #0076f8;
  cursor: pointer;
}
input[type="radio"] + label {
  cursor: pointer;
}
.split-container {
  display: flex;
  flex-direction: row;
}
.split-left {
  width: 55%;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}
.split-right {
  border: 1px solid #ccc;
  width: 45%;
  background: #f0f8fc;
}
.split-right p {
  font: 14px Roboto, sans-serif;
  font-weight: 600;
  text-align: center;
  color: black;
  margin-bottom: 15px;
}
.split-right img.check {
  margin-left: -14px;
  width: 100%;
  height: 60%;
}
.split-right img.cvv {
  margin-left: 42px;
}
.field {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.field > label {
  margin: 5px 5px 0;
  font: 12px Roboto, sans-serif;
  font-weight: 600;
}
.field .radio-group {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.field .radio-group label {
  margin-right: 20px;
  margin-left: 2px;
  margin-top: 3px;
  font: 14px Roboto, sans-serif;
}
.field input {
  border: none;
  margin: 5px 5px 5px;
  padding: 5px;
}
.field > label {
  display: block;
  margin-bottom: 5px;
}
.field > label.has-error {
  color: #c7060e;
}
.field span {
  display: block;
  background-color: #f0d3d6;
}
.field span.error-message {
  font: 12px Roboto, sans-serif;
  color: #c7060e;
  padding: 1px 5px 1px;
  border-top: 1px solid #ccc;
}
.field span.hide {
  display: none;
  /*
    my preferred method would be
    to use visibility: hidden;
    as it would maintain the
    vertical space for better
    user experience
   */
  /* visibility: hidden; */
}
.half-field {
  display: flex;
  flex-direction: row;
}
.half-field .field {
  width: 50%;
}
.half-field input[type="date"] {
  width: 90%;
  margin-right: 0;
  margin-bottom: 3px;
}
.submit {
  margin-top: 20px;
}

@media (max-width: 650px) {
  .Form {
    width: 90%;
    padding: 5%;
  }
  form {
    width: 100%;
  }
  form > .field:nth-child(1) {
    border-right: 1px solid #ccc;
  }
  .split-container {
    flex-direction: column;
  }
  .split-left {
    width: 99.8%;
    border-right: 1px solid #ccc;
    border-bottom: none;
  }
  .split-right {
    width: 99.5%;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  .split-right img.check {
    width: 98%;
  }
  .split-right img.cvv {
    width: 90%;
    margin-left: 5%;
  }
  .half-field {
    flex-direction: column;
  }
  .half-field .field {
    width: 100%;
  }
  input[type="button"] {
    width: 100%;
  }
}
